ClaseSuperior{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

clase1{
    display: table;
    border-spacing: 10px;
    border: black 1px solid;
}

identificador{
    display: table-row;
    
}
id{
    display: inline;
    
}

nombre{
    display: inline;
}


















